* {
  font-family: Verdana, sans-serif;;
}

/* Implementing css to autoplay slider" by Asif Ali from 
website: https://www.onlineittuts.com/automatic-image-slider-in-html-css.html 
video credits: https://www.youtube.com/watch?v=Fbc3lfe3T7s */
  
  .slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 500px;
  }
  
  .navigation-mannual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .mannual-btn{
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .mannual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .mannual-btn:hover{
    background-color: #ccc;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /* Automatic Navigation */
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #333;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~.navigation-auto .auto-btn-1{
    background: #ccc;
  }
  
  #radio2:checked ~.navigation-auto .auto-btn-2{
    background: #ccc;
  }
  
  
  #radio3:checked ~.navigation-auto .auto-btn-3{
    background: #ccc;
  }
  
  #radio4:checked ~.navigation-auto .auto-btn-4{
    background: #ccc;
  }

  /* End of slideshow credits /*

  /* Potential adjustments to slideshow regarding clickling on pictures */


  /* Basic outline of webpage styling */

  body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
  }


  .container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
  }
  
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }



  .footer {
    background: #eee;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  .parent {
    display: flex;
  }
  
  .center {
   
  }

  .right {
    flex: 1;
  }

  a {
    text-decoration: none;
    color: black;
}
  
  .parent {
    padding: 5px;
    border: 2px white;
    background-color: black;
  }
  .center,
  .right {
    padding: 3px
    
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 2;
    font-size: 35px;
    color: white;
    font-weight: bolder;
  }

  .right {
    display: flex;
    justify-content: flex-end;
  }
  .left {
    margin: 0 3px;
    padding: 3px;
    background-color: white;
  }
  

  /* End of basic outline */
  
  /* Black Divider beneath slides */

  .divider {
    background-color: black;
    color: white;
    width: 100vw;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  li

  /* adjusting logo to work header */


.internal-link {
  height: 75px;
}

.website-logo {
  height: 75px;
  flex: 1;
}

.website-name {
  flex: 3;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.right-links-top a {
  color: #c666fe;
  font-weight: bold;
}
  

/*Adding styles for donation counter */

.container {
  flex-direction: column;
}

.donation-counter {
    border: black;
    border-style: groove;
    font-size: 40px;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.dono-goal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}

/*Start of the G.A.I.L section */

.gail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
}

.gail-grid {
  display: flex;
  width: 100vw;
  overflow: hidden;
}

.gail-row-top, .gail-row-bot {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.gail-element {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 100vw;
}

.gail-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  margin-right: 25px;
}

.gail-img {
  height: 350px;
}

.big-letter {
  font-size: 90px;
  color: #8300d0;
  font-weight: bolder;
}

.gail-label {
  font-size: 50px;
  font-weight: bold;
}

.gail-title {
  font-size: 60px;
  text-align: center;
  padding: 40px;
  color: #c666fe;
  background-color: lightgray;
}

.d-purp {
  font-weight: bold;
  color: #8300d0;
}

/* Read more button styling */

.button {
  background-color: #8300d0;
  color: white;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #c666fe;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  display: grid;
  margin: auto;
  margin-top: 10px;
}

.button .icon {
  background-color: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em gray;
  right: 0.3em;
  transition: all 0.3s;
}

.button:hover .icon {
  width: calc(100% - 0.6em);
}

.button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #ccc;
}

.button:hover .icon svg {
  transform: translateX(0.1em);
}

.button:active .icon {
  transform: scale(0.95);
}

/* End of button styling */

.about {
  font-size: 20px;
  text-align: center;
}